section {
    height: 500px;
    background-color: white;
}

.villain {
    background-color: rgb(13, 13, 56);
    height: 100vh;
    color: aliceblue;
    font-size: 41px;
}

footer {
    height: 50px;
    background-color: rgb(36, 4, 4);
}

nav {
    display: flex;
    justify-content: space-around;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 500px;
    font-size: 32px;
}

li {
    width: 230px;
    text-decoration: none;
}

h1 {
    font-size: 92px;
    margin: 0;
}

h2 {
    font-size: 45px;
}

p {
    margin: 0px;
    font-size: 35px;
}

.p2 {
    font-weight: normal;
    font-size: 30px;
    text-align: left;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.kuku {
    margin-left: 85px;
    margin-bottom: 150px;
}

button {
    width: 90px;
    height: 70px;
    text-align: center;
    background-color: crimson;
    border-radius: 50%;
    border-color: black;
    border-style: display;
    font-size: 22px;
    margin-top: 20px;
}

body {
    font-family: 'Baloo Bhaijaan 2', cursive;
}

button:hover {
    background-color: lightcoral;
}

button:active {
    background-color: darkgray;
    color: rgb(243, 243, 159);
}

.port {
    text-align: left;
    height: 80px;
    padding: 15p;
}

.sub-section {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.headshot {
    border-radius: 30%;
    height: 200px;
    width: 200px;
    float: right;
}

#hobbies {
    text-align: left;
    float: left;
}

ol {
    text-align: left;
    float: left;
}

.project-card {
    width: 250px;
    height: 400px;
    box-shadow: 5px 5px 20px;
    margin: 20px;
}

.project-container {
    display: flex;
    justify-content: space-between;
}

.pro {
    display: flex;
    text-align: center;
    flex-direction: column;
}